.navbar{
    background-color: #343a40;
}

.navbar .narbar-brand{
    color: #FFF;
}

.navbar .nav-link{
    color: #FFF !important;
    text-decoration: none !important;
    margin-right: 20px;
}

@media (max-width:576px){
    .navbar .nav-link{
        margin-right: 0;
    }
}